body{
    background-color: black;
    color:whitesmoke;
}

.pinkText{
    color:lightpink;
}

.yellowText{
    color: rgb(255, 255, 92);
}

.blueText{
    color:cornflowerblue;
}

a{
    text-decoration: none;
    color:aqua;
}